<h1>{{ name }}</h1>
<ul class="course__head">
    <li>Hole</li>
    <li>White</li>
    <li>Red</li>
    <li>Par</li>
    <li>Score</li>
    <!--<li>Putts</li>
    <li>Fairways</li>
    <li>Bunkers</li>
    <li>Club</li>-->
</ul>
<div class="course__holes"></div>
<div id="course-score" class="course__scores"></div>